<!--メッセージフォームの部分テンプレート-->
<%= form_for message, :url => {:action => :create} do |f| %>
  <%= f.text_area :content, :size=>"60x10" %><br>
  <div class="mt-3">
    <%= f.submit '送信', class: "mt-3 mb-5 btn btn-success" %>
  </div>
  <% end %>