<table class='table table-bordered table-striped table-hover'>
  <thead>
    <tr>
      <th>報告日</th>
      <!--管理者権限の時のみ担当者を表示-->
      <% if current_employee.admin == true %>
        <th>担当者</th>
      <% end %>
      <th>タイトル</th>
      <th>施設名</th>
    </tr>
  </thead>
  <tbody>
    <% daily_reports.each do |daily_report| %>
      <tr>
        <td><%= daily_report.created_at.to_s(:datetime_jp) %></td>
        <!--管理者権限の時のみ担当者を表示-->
        <% if current_employee.admin == true %>
          <td><%= daily_report.employee.name %></td>
        <% end %>
        <td>
          <%= link_to daily_report.title, daily_report_path(daily_report) %>
        </td>
        <td><%= daily_report.facility.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>