<%= render 'layouts/header' %>
<div class='container'>
  <div class='row'>
    <%= @employee.name %>
    <div class='col'>
      <h4>新着メッセージ</h4>
      <h4>コメント＆いいね</h4>
    </div>
    <div class='col'>
      <h4>業務報告</h4>
      <h4>案件</h4>
    </div>
  </div>
</div>
