<%= render 'layouts/header' %>

<div class="container">
  <div class="row">
    <div class="col">
      <h1>〜Business-Daily-Supportとは〜</h1>
      <p>
        Business-Daily-Supportとは日々の営業活動をより効率的に行えるようにサポートするサイトです<br>
        営業施設、案件管理、業務報告を全てまとめて行うことができます<br>
        皆さんの営業活動をより効率的に行えるようにサポートしていきます
      </p>
    </div>
  </div>
</div>
<footer>
  <%= render 'layouts/footer' %>
</footer>