 <%= render 'layouts/header' %>
 <body class="top-body">
  <div class="content">
    <h1>Business-Daily-Support</h1>
    <p>〜日々の営業の効率化のために〜</p>
    <h2>ログイン</h2>
      <%= link_to new_employee_session_path do %>
        ログインはこちら
      <% end %>
  </div>
</body>