
  <body class="top-body">
    <div class="container-fluid">
      <div class="row m-auto ">
        <div class="col-12 text-center">
          <h1 class="mt-5 display-3">Business-Daily-Support</h1>
          <p class="m-5">〜日々の営業の効率化のために〜</p>
        </div>
        <div class="col-6 text-center">
          <h2 class="mt-2">新規登録</h2>
          <%= link_to new_employee_registration_path do %>
            <p class="text-info">新規登録はこちら</p>
          <% end %>
        </div>
        <div class="col-6 text-center">
          <h2 class="mt-2">ログイン</h2>
          <%= link_to new_employee_session_path do %>
            <p class="text-info">ログインはこちら</p>
          <% end %>
        </div>
      </div>
    </div>
  </body>
