// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-body {
  background-image: image-url("BDS_top1.jpg");
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
}

.content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin: 40px auto;
  background: rgba(22,22,22, 0.5);
  width: 100%;
  max-width: 960px;
  border-radius: 5px;
  padding-top: 32px;
  padding-bottom: 32px;
}
